.media-side{
    width:48px;
    height:48px;
    float:left;
    margin-right:10px;
}
.media-content{
    overflow: hidden;
    vertical-align: top;
}
.media{
    overflow: hidden;
}
.next-table .highlight-row .next-table-group-header td{
    background: #E8F6FF;
}
.next-table .highlight-row td{
    border-color: #D3E9F7;
}